/* Desktop design */
/* HTML elements */
body {
  background: hsl(218, 23%, 16%);
}

h1 {
  font-family: "Manrope", sans-seri;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  color: hsl(193, 38%, 86%);
  padding: 20px;
}

p {
  font-family: "Manrope", sans-seri;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  color: hsl(150, 100%, 66%);
  position: relative;
  top: 19px;
}

img {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* Classes */

.attribution {
  font-family: "Manrope", sans-seri;
  font-size: 12px;
  font-weight: 400;
  color: hsl(193, 38%, 86%);
  position: relative;
  top: 75px;
  text-align: center;
}

.attribution a {
  color: hsl(150, 100%, 66%);
}

.advice-box {
  width: 57vw;
  background: hsl(217, 19%, 24%);
  position: relative;
  border-radius: 20px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.icon-dice {
  position: absolute;
  width: 25px;
  height: 25px;
}

/* IDs */
#circle {
  background: hsl(150, 100%, 66%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/*For mobile design */
@media only screen and (max-width: 300px) {
  h1 {
    font-size: 20px;
  }

  #circle {
    top: 73px;
  }

  .attribution {
    top: 7rem;
  }

}